<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs', {active: "Admin"}) %>


<div class="container">
    <div class="py-5">
        <h1 class="text-center">Arcade Admin - <%= editGames ? 'Games' : 'Users' %></h1>
    </div>
    <%if (editGames){%>
        <%if (games.length > 0){%>
            <%- include('../components/gameDeleteModal.ejs') %>
            <%- include('../components/editGameControl.ejs', {user: user, games: games, adminView: true})%>
        <% } else { %>
            <h4 class="text-success text-center">You have no games awaiting approval! :)</h4>
        <% } %>
    <% } else { %>
        <%- include('../components/editUserControl.ejs', {users: users, adminView: true})%>
    <% } %>


</div>

<%- include('../includes/footer.ejs') %>