<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <a class="navbar-brand" href="/user">
        <img width="30" height="30" class="d-inline-block align-top m-1" id="comp-utc-img" src="/images/logo.jpg">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <% if(user.isAdmin){ %> 
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle <%= active=='Admin' ? 'active' : '' %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/admin/editUsers">Users</a>
                        <a class="dropdown-item" href="/admin/editGames">Games</a>
                        <a class="dropdown-item" href="/admin/viewReports">Reports</a>
                    </div>
                </li>
            <% } %> 
            <li class="nav-item">
                <a class="nav-link <%= active=='Games' ? 'active' : '' %>" href="/user">Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= active=='MyGames' ? 'active' : '' %>" href="/user/games">My Library</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= active=='Help' ? 'active' : '' %>" href="/user/help">Help</a>
            </li>
        </ul>

        <% if(typeof editGameID != "undefined") { %>
            <% if(user.isAdmin){ %> 
                <form class="d-inline" id="<%= game.gameInfo.name%>IdApproveForm" <%= game.isApproved ? 'action=/admin/revoke' : 'action=/admin/approve' %> method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="gameID" value="<%= game._id %>">
                    <input type="hidden" name="redirectTo" class="redirectTo" value="">
                </form>
                <button onclick="approveGame('<%=game.gameInfo.name%>')" type="button"
                    class="btn <%= game.isApproved ? 'btn-danger' : 'btn-success'%> m-2">
                    <%= game.isApproved ? 'Revoke' : 'Approve' %>
                </button>
            <% } %> 

            <a class="btn btn-secondary m-2" href="/game/edit/<%= editGameID %>" role="button">Edit</a>
        <% } %>
        <% if(typeof editUserID != "undefined") { %>
            <a class="btn btn-secondary m-2" href="/user/editUser/<%= editUserID %>" role="button">Edit</a>
        <% } %>

        <span class="navbar-text px-2">
            <a href="/login/logout">Logout</a>
        </span>
    </div>
  </nav>