<div class="py-2">
    <p class="text-secondary mb-0">
        <%= comment.userId.username %> - <%= new Date(comment.creationDate).getMonth() + 1 + "/" + 
                                        new Date(comment.creationDate).getDate() + "/" + 
                                        new Date(comment.creationDate).getFullYear()%>
    </p>
        <div class="row">
            <div class="col align-self-center">
                <%= comment.comment %>
            </div>
    
            <% if(isEdit) { %>
                <button type="button"
                        class="col-auto btn btn-danger"
                        id="delete<%= comment._id %>"
                        onclick="showDeleteCommentModal('<%=comment._id%>', '<%= comment.comment %>')">
                        <i class="fa fa-trash"></i>
                </button>
            <% } %>
        </div>
    
</div>