<div class="item" id="<%= user.username%>">
    <div class="content">
        <div class="header">
            <%=user.firstName + " " + user.lastName %>
        </div>
        <div class="meta">
            <%= user.username%>
        </div>

        <div class="extra content">
            <% if(user.isAdmin) { %>
            <form action="/admin/demote" method="POST" id="<%= user.username%>MakeAdminForm">
                <input type="hidden" value="<%= user.username %>" name="username">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="negative ui right floated button" type="submit">Demote</button>
            </form>
            <% } else { %>
            <form action="/admin/promote" method="POST" id="<%= user.username%>MakeAdminForm">
                <input type="hidden" value="<%= user.username %>" name="username">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="positive ui right floated button" type="submit">Elevate</button>
            </form>
            <% } %>
            <% if(!user.isAuthorized) { %>
            <form action="/admin/authorize" method="POST" id="<%= user.username%>MakeAdminForm">
                <input type="hidden" value="<%= user.username %>" name="username">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="positive ui right floated button" type="submit">Authorize</button>
            </form>
            <% } else { %>
            <form action="/admin/deauthorize" method="POST">
                <input type="hidden" value="<%= user.username %>" name="username">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="negative ui right floated button" type="submit">Deauthorize</button>
            </form>
            <% } %>
            <form action="/admin/delete" method="POST">
                <input type="hidden" value="<%= user.username %>" name="username">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="negative ui right floated button" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>