<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs', {active: "Games"}) %>
<%- include('../components/gameDeleteModal.ejs') %>
<%- include('../components/addGameModal.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="text-center">Mocs Arcade Global Library</h1>
                <button type="button" class="btn btn-success content-center my-3" data-toggle="modal" data-target="#gameAddModal">Add New Game</button>
            </div>
        </div>

        <%- include('../components/editGameControl.ejs', {user: user, games: games, adminView: user.isAdmin}) %>
        
    </div>
    
<%- include('../includes/footer.ejs') %>




