<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs', {active: "Games"}) %>
<%- include('../components/gameDeleteModal.ejs') %>


    <div class="container">
        <div class="row">
            <div class="col text-center py-5">
                <h1 class="text-center">Arc Games Library</h1>
            </div>
        </div>

        <% if(message) {%>
            <div class="text-danger text-center">
            <p><%= message%></p>
            </div>
        <% } %>

        <%- include('../components/editGameControl.ejs', {user: user, games: games, adminView: user.isAdmin}) %>
        
    </div>
    
<%- include('../includes/footer.ejs') %>




