<%- include('../includes/header.ejs') %>
<% canEdit = !isEdit && (game.userId == user._id.toString() || user.isAdmin) %>
<%- include('../includes/nav.ejs', {active: "Games", editGameID: (canEdit ? game._id : undefined)}) %>

    <div class="container">
        <div class="author-tab py-1">
            <a class="author-box p-1" href="/user/user/<%= user._id %>">
                <i class="fa fa-user"></i>
                <%= user.username %> (<%= user.firstName %> <%= user.lastName %>)
            </a>
        </div>

        <div class="py-5">
            <h1 class="text-center"><%= game.gameInfo.name %></h1>
        </div>

        <div class="row">
            <% if(message) {%>
                <p class="text-danger">Game name taken. Please pick a different name.</p>
            <% } %>
        </div>
        <!-- TODO: Fix using middleware solution: https://github.com/EthanRBrown/web-development-with-node-and-express/issues/53 -->
        <form action="/user/upload?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
            <div class="form-row">
                <div class="col-6">
                    <!-- <input type="hidden" name="_csrf" value=""> -->
                    <input type="hidden" name="gameID" value="<%= game._id %>">
                    <div class="py-1">
                        <label for="name">Game Name:</label>
                        <input type="text" class="form-control" name="name" id="name" value="<%= game.gameInfo.name %>" <%= !isEdit ? 'disabled' : '' %>>
                    </div>
                    <div class="py-1">
                        <label for="description">Description:</label>
                        <textarea rows="5" class="form-control" name="description" id="description" <%= !isEdit ? 'disabled' : '' %>><%= game.gameInfo.description %></textarea>
                    </div>

                    <div id="accordion" class="py-1">
                        <label>Versions:</label>
                        <% for(let version of game.revisionHistory.revisions){ %>
                            <div class="card">
                                <div class="card-header" id="heading<%= version.version %>">
                                    <h5 class="mb-0 form-row justify-content-between">
                                        <button type="button" class="btn bg-transparent" data-toggle="collapse"
                                                data-target="#collapse<%= version.version %>" aria-expanded="true"
                                                aria-controls="collapse<%= version.version %>">
                                            <%= version.version %>
                                        </button>
                                        <!-- Download button: Cannot be a form within another form, so use javascript to dynamically download -->
                                        <button type="button" class="btn btn-primary" <%= isEdit ? 'disabled' : '' %>>
                                            <i class="fa fa-download"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse<%= version.version %>" class="collapse" aria-labelledby="heading<%= version.version %>" data-parent="#accordion">
                                    <div class="card-body">
                                        <% if(version.isHttpDownload) { %>
                                            <h5>Http Download</h5>
                                            <div class="py-1">
                                                <label for="url<%= version.version %>">URL:</label>
                                                <input type="text" class="form-control" name="url[<%= version.version %>]" id="url<%= version.version %>" value="<%= version.url %>" <%= !isEdit ? 'disabled' : '' %>>
                                            </div>
                                        <% } else { %>
                                            <h5>Google Drive Download</h5>
                                            <div class="py-1">
                                                <label for="fileId<%= version.version %>">File ID:</label>
                                                <input type="text" class="form-control" name="fileId[<%= version.version %>]" id="fileId<%= version.version %>" value="<%= version.fileId %>" <%= !isEdit ? 'disabled' : '' %>>
                                            </div>
                                        <% } %>
                                        <div class="py-1">
                                            <label for="releaseNotes<%= version.version %>">Release Notes:</label>
                                            <textarea rows="2" class="form-control" name="releaseNotes[<%= version.version %>]" id="releaseNotes<%= version.version %>" <%= !isEdit ? 'disabled' : '' %>><%= version.releaseNotes %></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% if(isEdit) { %>
                            <button type="button" class="form-control btn btn-secondary">
                                Add New Version
                            </button>
                        <% } %>
                    </div>
                    <% if(isEdit) { %>
                        <div class="py-2">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a class="btn btn-primary" href="/user/details/<%= game._id %>">Cancel</a>
                        </div>
                    <% } %>
                </div>
                <div class="col-6">
                    <% if(typeof game.gameInfo.gameplayPreview.data != "undefined") { %>
                        <img class="w-100"
                            src="data:image/<%=game.gameInfo.gameplayPreview.contentType%>;base64, 
                            <%=game.gameInfo.gameplayPreview.data.toString('base64')%>"> 
                    <% } else { %>
                        <img class="w-100 my-2" src="<%= game.gameInfo.imageUrl %>">
                    <% } %>
                    
                    <% if(isEdit) { %>
                        <input type="file" id="image" name="image" value=""> 
                        <p id="fileError" class="text-danger"></p>
                    <% } %>
                </div>
            </form>
        </div>
    </div>

    <script>
        $("#image").on("change", function (e) {
            if(this.files[0].size > 50000){
                this.value = "";
                $("#fileError").text("File is too large! Please decrease the size of your file to 50KB and try again!")
            } else {
                $("#fileError").text("")
            }
        })
    </script>
    
    <%- include('../includes/footer.ejs') %>

