<%- include('../includes/header.ejs') %>
<% canEdit = !isEdit && (game.userId == user._id.toString() || user.isAdmin) %>
<%- include('../includes/nav.ejs', {active: "Games", editGameID: (canEdit ? game._id : undefined)}) %>

    <div class="container">
        <div class="author-tab py-1">
            <a class="author-box p-1">
                <i class="fa fa-user"></i>
                <%= user.username %> (<%= user.firstName %> <%= user.lastName %>)
            </a>
        </div>

        <div class="py-5">
            <h1 class="text-center"><%= game.gameInfo.name %></h1>
        </div>

        <div class="row">
            <% if(message) {%>
                <p class="text-danger">Game name taken. Please pick a different name.</p>
            <% } %>
        </div>
        <!-- TODO: Fix using middleware solution: https://github.com/EthanRBrown/web-development-with-node-and-express/issues/53 -->
        <form action="/user/upload?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
            <div class="form-row">
                <div class="col-6">
                        <!-- <input type="hidden" name="_csrf" value=""> -->
                        <input type="hidden" name="gameID" value="<%= game._id %>">
                        <div class="py-1">
                            <label for="name">Game Name:</label>
                            <input type="text" class="form-control" name="name" id="name" value="<%= game.gameInfo.name %>" <%= !isEdit ? 'disabled' : '' %>>
                        </div>
                        <div class="py-1">
                            <label for="description">Description:</label>
                            <textarea rows="5" class="form-control" name="description" id="description" <%= !isEdit ? 'disabled' : '' %>><%= game.gameInfo.description %></textarea>
                        </div>
                        <% if(isEdit) { %>
                            <div class="py-2">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a class="btn btn-primary" href="/user/details/<%= game._id %>">Cancel</a>
                            </div>
                        <% } %>
                </div>
                <div class="col-6">
                    <!-- Download button: Cannot be a form within another form, so use javascript to dynamically download -->
                    <div class="form-row my-3">
                        <div class="col-8">
                            <select class="form-control">
                                <% for(let version of game.revisionHistory.revisions){ %>
                                    <option><%= version.version %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-primary form-control" <%= isEdit ? 'disabled' : '' %>>Download</button>
                        </div>
                    </div>
                    
                    <% if(typeof game.gameInfo.gameplayPreview.data != "undefined") { %>
                        <img class="w-100"
                            src="data:image/<%=game.gameInfo.gameplayPreview.contentType%>;base64, 
                            <%=game.gameInfo.gameplayPreview.data.toString('base64')%>"> 
                    <% } else { %>
                        <img class="w-100 my-2" src="<%= game.gameInfo.imageUrl %>">
                    <% } %>
                    
                    <% if(isEdit) { %>
                        <input type="file" id="image" name="image" value=""> 
                    <% } %>
                </div>
            </form>
        </div>
    </div>
    
    <%- include('../includes/footer.ejs') %>

