<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs') %>
<%- include('../components/gameDeleteModal.ejs') %>
<%- include('../components/gameUpdateModal.ejs') %>

    <div class="ui blue container">
        <h1 class="ui header">Welcome <%= user.firstName + " " + user.lastName%></h1>
        <h3 class="ui dividing header">New Game</h3>
        <form class="ui form" action="/user/upload" method="POST">
            <div class="field">
                <label>Game Name</label>
                <input type="text" name="name">
            </div>
            <div class="field">
                <label>Description</label>
                <input type="text" name="description">
            </div>
            <div class="field">
                <label>Google Drive File Id</label>
                <input type="text" name="fileId">
            </div>
            <button type="submit" class="ui positive button">Submit</button>
        </form>

        <h3 class="ui dividing header">Your Games</h3>
        <%- include('../components/editGameControl.ejs', {games: games, adminView: false}) %>
       

    <%- include('../includes/footer.ejs') %>




