<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs') %>
<%- include('./gameDeleteModal.ejs') %>
<%- include('./gameUpdateModal.ejs') %>

    <div class="ui container">
        <h3 class="ui dividing header">New Game</h3>
        <form class="ui form" action="/user/upload" method="POST">
            <div class="field">
                <label>Game Name</label>
                <input type="text" name="name">
            </div>
            <div class="field">
                <label>Description</label>
                <input type="text" name="description">
            </div>
            <div class="field">
                <label>Google Drive File Id</label>
                <input type="text" name="fileId">
            </div>
            <button type="submit" class="ui positive button">Submit</button>
        </form>

        <h3 class="ui dividing header">Your Games</h3>

        <div class="ui cards">
            <% if(userGames != null){
            for(let game of userGames){ %>
            <div class="fluid card" id="<%= game.name%>">
                <div class="content">
                    <div class="header">
                        <%= game.name %>
                    </div>
                    <div class="meta">
                        Created <%= new Date(game.creationDate).getMonth() + 1 + "/" + 
                                    new Date(game.creationDate).getDate() + "/" + 
                                    new Date(game.creationDate).getYear()%>
                    </div>
                    <div class="description">
                        <%= game.description%>
                    </div>
                </div>
                <div class="extra content">
                    <form action="/user/delete" method="POST" id="<%= game.name%>IdDeleteForm">
                        <input id="<%= game.name%>IdInput" type="hidden" value="<%= game._id %>" name="gameId">
                    </form>
                   
                    
                    <button class="positive ui button" onclick="showUpdateModal('<%=game.name%>Id', '<%=game.name%>','<%= game.description%>')">Update</button>
                    <button class="negative ui button" onclick="showDeleteModal('<%=game.name%>Id')">Delete</button>
                </div>
            </div>
            <% }} %>

    </div>
    <script>
        function showDeleteModal(gameElementId){
            //console.log(gameElementId);
            $('#gameDeleteModal').modal({onApprove: function(event) {
                $('#gameDeleteModal').modal({
                    transition: 'fade',
                    duration: 10000
                }).modal('hide');
                deleteGame(gameElementId);
            }}).modal('show');
        }
        function deleteGame(gameElementId)
        {
            //console.log('deleted')
            document.getElementById(gameElementId+'DeleteForm').submit()
        }
        function showUpdateModal(gameElementId, gameName, gameDescr){
            //console.log(gameElementId);
            fillModal(gameName, gameDescr, );
            $('#gameUpdateModal').modal({onApprove: function(event) {
                $('#gameUpdateModal').modal({
                    transition: 'fade',
                    duration: 10000
                }).modal('hide');
                updateGame(gameElementId);
            }}).modal('show');
        }
        function updateGame(gameElementId)
        {
            //console.log('deleted')
            document.getElementById('gameUpdateForm').submit()
        }
        function fillModal(gameName, gameDescr, gameInputId){
            console.log(gameName)
            
            document.getElementById('gameToUpdateId').value = document.getElementById(gameName+'IdInput').value;
            
        }
    </script>
    <%- include('../includes/footer.ejs') %>




